[Global]
PATH = /etc/EXT/Citation_Metrics

[site]
title=sherzodR "The Geek"

[Database]
dbtype    =  mysql
dbname    =  Citation_DB
user_name =  root
password  =  crest123


[web]
Upload_Location="/etc/EXT/Citation_Metrics/Input"
Download_Location="/etc/EXT/Citation_Metrics/Output"
Overall_Statistics="/etc/EXT/Citation_Metrics/Statistics"


[ApiKey]
user1="IN4mJl11HTB3hvSdjTRGNS6gzychYyk9WvbSBCdfhkI"



[RabbitMQ]
host = '10.113.5.197'
port = 5672
user = 'cmetrix'
pass = 'crest123'
vhost = '/'

[Script]
Citation_Metrix = '/etc/EXT/Citation_Metrics/script/bookmetrix.pl'

